
@{
    ViewData["Title"] = "View Medicine";
}

<h1 class="h1 text-center">View Medicines</h1>
<hr />
<table class="table">
    <thead>
        <tr>

            <th>
                MedicineName
            </th>
            <th>
                Description
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
            <th>
                Buy
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.medicines)
        {
            <tr>
                <td>
                    @item.MedicineName
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Category
                </td>
                <td>
                    @item.Price
                </td>
                <th>
                    <a asp-controller="cart" asp-action="buy" asp-route-id="@item.Id" class="btn btn-success"> Buy Now</a>
                </th>
            </tr>
        }

    </tbody>
</table>